<!DOCTYPE html>
<html lang="en" dir="ltr">

 <% include ../partials/header.ejs %>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="col-sm-8 mx-auto">
      <div class="card card-body">
        <h2 class="card-title"><%=title%></h2>
        <form class="" action="/signup" method="post">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="email">Email address</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="email" placeholder="Enter email" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="password">Password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="password" placeholder="Enter password" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="cpassword">Confirm password</label>
            <div class="col-sm-9">
              <input type="password" class="form-control" id="cpassword" placeholder="Confirm password" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="question">Sequrity Question</label>
            <div class="col-sm-9">
              <select class="form-control input-lg" id="question" required>
                  <option value="">Select Sequrity Question</option>
                  <option value="1">What was your childhood nickname?</option>
                  <option value="2">What was your favorite sport in high school?</option>
                  <option value="3">What is the first name of the boy or girl that you first kissed?</option>
                  <option value="4">Who is your childhood sports hero?</option>
                  <option value="5">What school did you attend for sixth grade?</option>
                  <option value="6">In what town was your first job?</option>
                  <option value="7">What is the name of your favorite childhood friend?</option>
                  <option value="8">What is your favorite movie?</option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="answer">Sequrity Answer</label>
            <div class="col-sm-9">
              <input class="form-control input-lg" placeholder="Sequrity Answer" id="answer" name="answer" value="" type="text" required>
            </div>
          </div>
          <div class="form-group row">
              <label class="small">
                  <input name="terms" type="checkbox" required>I have read and agree to the <a href="#">terms of service</a>
              </label>
          </div>
          <div class="form-group row">
            <input class="btn btn-lg btn-primary btn-block" value="Sign Me Up" type="submit">
          </div>
        </form>
      </div>
    </div>
  </div>

  <% include ../partials/footer.ejs %>
</body>
<% include ../partials/scripts.ejs %>
</html>
